<header>
    <a href="/views/session">Home</a>
    <a href="/views/session/logout">Cerrar Sesión</a>
</header>
<main>
    <h1> Usuario: {{first_name}} {{last_name}}</h1>
    <h2> Edad: {{age}}</h2>
</main>